services:

  web-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 9090:8080
    command: ["./hello"]
    depends_on:
      unit-tests:
        condition: service_completed_successfully
    healthcheck:
        test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
        interval: 30s
        timeout: 30s
        retries: 5
        start_period: 40s